# Copiar como .env y completar
MAIL_TO=destino@empresa.com
MAIL_CC=
MAIL_BCC=
MAIL_FROM=alertas@empresa.com
MAIL_SUBJECT=Reporte automatico Postfix
MAIL_BODY=Este es un envio de prueba desde Postfix relay [10.190.89.55]:25
